# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode 

npm-debug.log*
yarn-debug.log*
yarn-error.log*


            "includePath":[
                "${workspaceFolder}/projectC++Server**",
                "${vcpkgRoot}/x64-linux/include",
                "/home/kali/Applications/vcpkg/installed/x64-linux/include/corvusoft",
                "projectC++Server/include",
                "projectC++Server"
            ],


{
    "files.associations": {
        "restbed": "cpp",
    },
    "cmake.sourceDirectory": "${workspaceFolder}/projectC++Server",
    
}          


cmake_minimum_required(VERSION 3.18)
project(CalculatorAPI)
if(RESTBED_MODULES_PATH)
export(RESTBED_MODULES_PATH=/usr/local/lib/restbed)
endif()

set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++17")
set(CMAKE_TOOLCHAIN_FILE=/home/kali/Applications/vcpkg/scripts/buildsystems/vcpkg.cmake)
# RestBED
set(RESTBED_ROOT "/home/kali/Applications/vcpkg/installed/x64-linux")
set(RESTBED_INCLUDE_DIR "${RESTBED_ROOT}/include")
set(RESTBED_LIBRARY_DIR "${RESTBED_ROOT}/lib")

# find all libraries
file(GLOB_RECURSE RESTBED_LIBRARY_FILES
    "${RESTBED_LIBRARY_DIR}/*.a"
)

add_executable(CalculatorAPI 
    main.cpp
    CalcResourceFactory.cpp
    CalcService.cpp
    CalcServiceSettingsFactory.cpp)

target_link_libraries(CalculatorAPI /home/kali/Applications/vcpkg/installed/x64-linux/include/restbed)
target_include_directories(CalculatorAPI PUBLIC ${CMAKE_SOURCE_DIR}/include)
set_property(TARGET CalculatorAPI PROPERTY CXX_STANDARD 17)


